.background{
    background-image: linear-gradient(to right, #1A2980 , #26D0CE);
}

#todo{

    color: black;
    font-weight: bold;
    float: center;
    font-style: italic
}

#text{

    font-style: italic;
}

.rubab{
    margin-left: 900px;
    font-style: italic;
    color:white;
}